python-dotenv>=1.0.0
fastapi>=0.100.0
uvicorn[standard]>=0.23.0
pandas>=2.0.0
numpy>=1.24.0
yfinance>=0.2.35
PyPortfolioOpt
alpaca-py>=0.8.0
python-multipart==0.0.6
pydantic<2.0.0,>=1.9.0
sqlalchemy==2.0.23
scikit-learn>=1.3.0
psycopg2-binary==2.9.9
alembic==1.12.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
fastapi-mail<1.3.0
apscheduler==3.10.4
httpx==0.24.1
cryptography==41.0.1
pysocks==1.7.1
requests>=2.31.0
pandas-datareader>=0.10.0
scipy>=1.11.0
pypfopt>=1.5.0
matplotlib>=3.7.0
cvxpy>=1.3.0 